@use '../../styles.scss' as *;

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background: hsl(227, 10%, 10%);
    font: 300 1em sans-serif;
}

h1,
h2,
h3 {
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.25s;
    border-radius: 0.5em;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

$buttonColors: (
    raise: #ffa260,
    offset: #19bc8b,
);

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus {
        box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
    }
}

.weatherImg {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
}

@each $button, $color in $buttonColors {
    .#{$button} {
        --color: #{$color};
        --hover: lighten(#{$color}, 30%);
    }
}
