@use '../../styles.scss' as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background: $background;
}

.content {
    font-size: 1.3em;
    line-height: 2em;
    padding: 0 50px;
    flex: 1;

    input {
        width: 50%;
        height: 40px;
        border-radius: 0.4em;
        border: none;
        margin-bottom: 15px;
        font-family: monospace;
        padding-left: 10px;
        outline: none;
    }
}

h1,
h2,
h3 {
    color: $headerColor;
}

.nameAndIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

button {
    background: none;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: $buttonTextColor;
    border: 0;
    transition: 0.25s;
    border-radius: 0.5em;
    background-color: var(--color);
    font-family: monospace;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

$buttonColors: (
    raise: $purpleButton,
    offset: $greenButton,
);

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus {
        box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
    }
}

.weatherImg {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
}

.description {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@each $button, $color in $buttonColors {
    .#{$button} {
        --color: #{$color};
        --hover: lighten(#{$color}, 30%);
    }
}
